html,
body {
  height: 100%;
}

body {
  background: url(./img/University/dcrust-7.jpg);
  background-size: cover;
  background-color: #1F2833;
  overflow: hidden;

  background-repeat: no-repeat;
  padding: 40px;
  /* margin-top: 100px; */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  /* position: absolute; */
}

#overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 120%;
  width: 120%;
  background-color: #1F2833;
  opacity: 0.6;
}

/* #overlay {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 7s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  30% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

*/

/* body {
    background: radial-gradient(#66FCF1 3px, transparent 4px), radial-gradient(#66FCF1 3px, transparent 4px), linear-gradient(#0B0C10 4px, transparent 0), linear-gradient(45deg, transparent 74px, transparent 75px, #66FCF1 75px,#66FCF1 76px, transparent 77px, transparent 109px), linear-gradient(-45deg, transparent 75px, transparent 76px, #66FCF1 76px, #66FCF1 77px, transparent 78px, transparent 109px), #fff;
    background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    background-color: #0B0C10;
    padding: 100px;
} */

.center-div {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  max-width: 30%;
  height: auto;
  border-radius: 3px;
  color: #C5C6C7;
  /* box-shadow: 3px 3px 40px #45A29E; */
  background-color: rgba(31, 58, 77, 0.719);
  padding: 50px;
  border-radius: 30px;
  opacity: 1;
  z-index: 10;
  ;
}

a {
  color: #66FCF1;
}

#head {
  text-align: center;
  font-size: 2em;


}

.container {
  font-size: 2em;
  padding: 10px;

}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 50px;
  box-sizing: border-box;

}

input[type=text]:focus,
input[type=password]:focus {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 50px;
  box-sizing: border-box;
  outline: none;
  color: white;



}

::placeholder {
  color: rgb(255, 255, 255);
  opacity: 0.5;
}

input,
textarea,
select {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 20px;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}


button {
  font-weight: bold;
  font-size: 0.6em;
  background-color: #45A29E;
  color: white;
  padding: 14px 20px;
  margin: 40px auto;
  border: none;
  cursor: pointer;
  width: 40%;
  /* color: black; */
  text-align: center;
  border-radius: 30px;
}

button:focus {
  outline: none;
}

button:hover {
  opacity: 0.8;
  background-color: #66FCF1;
}

#fpsw {
  text-align: right;
  font-size: 0.4em;
}

#btn {
  margin: auto;
  text-align: center;
}

.usname,
.uspsw {
  font-size: 0.6em
}


@media screen and (max-width:841px) {
  .center-div {
    max-width: 60%;
    position: absolute;
    transform: translateX(0);
    border-radius: 0px;
    opacity: 1;
  }
}


@media screen and (max-width:541px) {

  body,
  html {
    overflow: hidden;
  }

  * {
    overflow: hidden;
  }

  #overlay {
    opacity: 0;
  }

  .center-div {
    position: fixed;
    top: 0px;
    background: rgba(31, 58, 77, 0.54);
    left: 0px;
    max-width: 100%;
    height: 100%;
    border: 0px solid;
    box-shadow: none;

  }
}





/* firefly */

.firefly {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 0.5vw;
  height: 0.5vw;
  margin: -0.2vw 0 0 9.8vw;
  animation: ease 200s alternate infinite;
  pointer-events: none;
  z-index: 4;
}

.firefly::before,
.firefly::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform-origin: -10vw;
}

.firefly::before {
  background: white;
  opacity: 0.4;
  animation: drift ease alternate infinite;
}

.firefly::after {
  background: white;
  opacity: 0;
  box-shadow: 0 0 0vw 0vw yellow;
  animation: drift ease alternate infinite, flash ease infinite;
}

.firefly:nth-child(1) {
  animation-name: move1;
}

.firefly:nth-child(1)::before {
  animation-duration: 16s;
}

.firefly:nth-child(1)::after {
  animation-duration: 16s, 10214ms;
  animation-delay: 0ms, 4547ms;
}

@keyframes move1 {
  0% {
    transform: translateX(7vw) translateY(-19vh) scale(0.92);
  }

  5% {
    transform: translateX(6vw) translateY(-10vh) scale(0.44);
  }

  10% {
    transform: translateX(-3vw) translateY(23vh) scale(0.65);
  }

  15% {
    transform: translateX(-15vw) translateY(-38vh) scale(0.96);
  }

  20% {
    transform: translateX(-3vw) translateY(-39vh) scale(0.26);
  }

  25% {
    transform: translateX(-47vw) translateY(36vh) scale(0.86);
  }

  30% {
    transform: translateX(-42vw) translateY(-17vh) scale(0.88);
  }

  35% {
    transform: translateX(-40vw) translateY(5vh) scale(0.28);
  }

  40% {
    transform: translateX(8vw) translateY(-4vh) scale(0.61);
  }

  45% {
    transform: translateX(50vw) translateY(-27vh) scale(0.61);
  }

  50% {
    transform: translateX(8vw) translateY(-24vh) scale(1);
  }

  55% {
    transform: translateX(-35vw) translateY(8vh) scale(0.69);
  }

  60% {
    transform: translateX(-18vw) translateY(-44vh) scale(0.92);
  }

  65% {
    transform: translateX(-46vw) translateY(5vh) scale(0.4);
  }

  70% {
    transform: translateX(-8vw) translateY(27vh) scale(0.97);
  }

  75% {
    transform: translateX(-48vw) translateY(-26vh) scale(0.46);
  }

  80% {
    transform: translateX(27vw) translateY(-2vh) scale(0.56);
  }

  85% {
    transform: translateX(17vw) translateY(-34vh) scale(0.59);
  }

  90% {
    transform: translateX(5vw) translateY(-1vh) scale(0.98);
  }

  95% {
    transform: translateX(-47vw) translateY(18vh) scale(0.7);
  }

  100% {
    transform: translateX(22vw) translateY(-16vh) scale(0.48);
  }
}

.firefly:nth-child(2) {
  animation-name: move2;
}

.firefly:nth-child(2)::before {
  animation-duration: 9s;
}

.firefly:nth-child(2)::after {
  animation-duration: 9s, 7408ms;
  animation-delay: 0ms, 2163ms;
}

@keyframes move2 {
  0% {
    transform: translateX(14vw) translateY(-3vh) scale(0.65);
  }

  5% {
    transform: translateX(38vw) translateY(20vh) scale(0.56);
  }

  10% {
    transform: translateX(-44vw) translateY(-5vh) scale(0.78);
  }

  15% {
    transform: translateX(-45vw) translateY(-15vh) scale(0.86);
  }

  20% {
    transform: translateX(-3vw) translateY(22vh) scale(0.32);
  }

  25% {
    transform: translateX(-39vw) translateY(-49vh) scale(0.43);
  }

  30% {
    transform: translateX(-15vw) translateY(-47vh) scale(0.67);
  }

  35% {
    transform: translateX(32vw) translateY(-8vh) scale(0.37);
  }

  40% {
    transform: translateX(-3vw) translateY(21vh) scale(0.57);
  }

  45% {
    transform: translateX(43vw) translateY(-36vh) scale(0.91);
  }

  50% {
    transform: translateX(-12vw) translateY(34vh) scale(0.68);
  }

  55% {
    transform: translateX(8vw) translateY(12vh) scale(0.52);
  }

  60% {
    transform: translateX(-32vw) translateY(-23vh) scale(0.44);
  }

  65% {
    transform: translateX(-21vw) translateY(-3vh) scale(0.91);
  }

  70% {
    transform: translateX(-45vw) translateY(-44vh) scale(0.27);
  }

  75% {
    transform: translateX(30vw) translateY(-42vh) scale(0.71);
  }

  80% {
    transform: translateX(49vw) translateY(-1vh) scale(0.41);
  }

  85% {
    transform: translateX(-11vw) translateY(-4vh) scale(0.38);
  }

  90% {
    transform: translateX(-1vw) translateY(44vh) scale(0.76);
  }

  95% {
    transform: translateX(18vw) translateY(34vh) scale(0.63);
  }

  100% {
    transform: translateX(17vw) translateY(50vh) scale(0.69);
  }
}

.firefly:nth-child(3) {
  animation-name: move3;
}

.firefly:nth-child(3)::before {
  animation-duration: 12s;
}

.firefly:nth-child(3)::after {
  animation-duration: 12s, 7843ms;
  animation-delay: 0ms, 6618ms;
}

@keyframes move3 {
  0% {
    transform: translateX(8vw) translateY(-41vh) scale(0.87);
  }

  3.7037037037% {
    transform: translateX(3vw) translateY(47vh) scale(0.99);
  }

  7.4074074074% {
    transform: translateX(-10vw) translateY(27vh) scale(0.29);
  }

  11.1111111111% {
    transform: translateX(-8vw) translateY(16vh) scale(0.9);
  }

  14.8148148148% {
    transform: translateX(-48vw) translateY(-36vh) scale(0.27);
  }

  18.5185185185% {
    transform: translateX(-43vw) translateY(-7vh) scale(0.88);
  }

  22.2222222222% {
    transform: translateX(-36vw) translateY(-34vh) scale(0.98);
  }

  25.9259259259% {
    transform: translateX(-41vw) translateY(13vh) scale(0.27);
  }

  29.6296296296% {
    transform: translateX(6vw) translateY(-18vh) scale(0.7);
  }

  33.3333333333% {
    transform: translateX(-23vw) translateY(10vh) scale(0.99);
  }

  37.037037037% {
    transform: translateX(10vw) translateY(20vh) scale(0.71);
  }

  40.7407407407% {
    transform: translateX(-23vw) translateY(-26vh) scale(0.41);
  }

  44.4444444444% {
    transform: translateX(8vw) translateY(-23vh) scale(0.52);
  }

  48.1481481481% {
    transform: translateX(38vw) translateY(12vh) scale(0.9);
  }

  51.8518518519% {
    transform: translateX(-31vw) translateY(32vh) scale(0.8);
  }

  55.5555555556% {
    transform: translateX(-3vw) translateY(47vh) scale(0.79);
  }

  59.2592592593% {
    transform: translateX(31vw) translateY(-45vh) scale(0.53);
  }

  62.962962963% {
    transform: translateX(48vw) translateY(-31vh) scale(0.87);
  }

  66.6666666667% {
    transform: translateX(29vw) translateY(-8vh) scale(0.39);
  }

  70.3703703704% {
    transform: translateX(26vw) translateY(-5vh) scale(0.98);
  }

  74.0740740741% {
    transform: translateX(33vw) translateY(21vh) scale(0.26);
  }

  77.7777777778% {
    transform: translateX(45vw) translateY(28vh) scale(0.55);
  }

  81.4814814815% {
    transform: translateX(15vw) translateY(34vh) scale(0.29);
  }

  85.1851851852% {
    transform: translateX(-16vw) translateY(42vh) scale(0.71);
  }

  88.8888888889% {
    transform: translateX(-11vw) translateY(8vh) scale(0.3);
  }

  92.5925925926% {
    transform: translateX(-28vw) translateY(34vh) scale(0.36);
  }

  96.2962962963% {
    transform: translateX(7vw) translateY(-34vh) scale(1);
  }

  100% {
    transform: translateX(20vw) translateY(35vh) scale(0.9);
  }
}

.firefly:nth-child(4) {
  animation-name: move4;
}

.firefly:nth-child(4)::before {
  animation-duration: 16s;
}

.firefly:nth-child(4)::after {
  animation-duration: 16s, 6729ms;
  animation-delay: 0ms, 5372ms;
}

@keyframes move4 {
  0% {
    transform: translateX(20vw) translateY(29vh) scale(0.53);
  }

  3.7037037037% {
    transform: translateX(47vw) translateY(33vh) scale(0.6);
  }

  7.4074074074% {
    transform: translateX(-15vw) translateY(20vh) scale(0.46);
  }

  11.1111111111% {
    transform: translateX(38vw) translateY(-27vh) scale(0.77);
  }

  14.8148148148% {
    transform: translateX(-16vw) translateY(13vh) scale(0.97);
  }

  18.5185185185% {
    transform: translateX(37vw) translateY(-32vh) scale(0.34);
  }

  22.2222222222% {
    transform: translateX(-47vw) translateY(26vh) scale(0.84);
  }

  25.9259259259% {
    transform: translateX(-13vw) translateY(48vh) scale(0.56);
  }

  29.6296296296% {
    transform: translateX(-36vw) translateY(-37vh) scale(0.72);
  }

  33.3333333333% {
    transform: translateX(27vw) translateY(24vh) scale(0.4);
  }

  37.037037037% {
    transform: translateX(-44vw) translateY(-12vh) scale(0.79);
  }

  40.7407407407% {
    transform: translateX(-9vw) translateY(0vh) scale(0.37);
  }

  44.4444444444% {
    transform: translateX(37vw) translateY(41vh) scale(0.42);
  }

  48.1481481481% {
    transform: translateX(18vw) translateY(25vh) scale(0.92);
  }

  51.8518518519% {
    transform: translateX(-1vw) translateY(-9vh) scale(0.41);
  }

  55.5555555556% {
    transform: translateX(-38vw) translateY(34vh) scale(0.47);
  }

  59.2592592593% {
    transform: translateX(-49vw) translateY(2vh) scale(0.66);
  }

  62.962962963% {
    transform: translateX(30vw) translateY(-26vh) scale(0.67);
  }

  66.6666666667% {
    transform: translateX(-43vw) translateY(43vh) scale(0.57);
  }

  70.3703703704% {
    transform: translateX(-26vw) translateY(-2vh) scale(0.9);
  }

  74.0740740741% {
    transform: translateX(45vw) translateY(-15vh) scale(0.98);
  }

  77.7777777778% {
    transform: translateX(0vw) translateY(31vh) scale(0.69);
  }

  81.4814814815% {
    transform: translateX(-39vw) translateY(47vh) scale(0.31);
  }

  85.1851851852% {
    transform: translateX(-43vw) translateY(25vh) scale(0.95);
  }

  88.8888888889% {
    transform: translateX(47vw) translateY(18vh) scale(1);
  }

  92.5925925926% {
    transform: translateX(8vw) translateY(-32vh) scale(0.77);
  }

  96.2962962963% {
    transform: translateX(-43vw) translateY(23vh) scale(0.69);
  }

  100% {
    transform: translateX(-48vw) translateY(-41vh) scale(0.65);
  }
}

.firefly:nth-child(5) {
  animation-name: move5;
}

.firefly:nth-child(5)::before {
  animation-duration: 12s;
}

.firefly:nth-child(5)::after {
  animation-duration: 12s, 5574ms;
  animation-delay: 0ms, 7804ms;
}

@keyframes move5 {
  0% {
    transform: translateX(-16vw) translateY(-43vh) scale(0.47);
  }

  5.5555555556% {
    transform: translateX(-10vw) translateY(21vh) scale(0.75);
  }

  11.1111111111% {
    transform: translateX(17vw) translateY(-5vh) scale(0.67);
  }

  16.6666666667% {
    transform: translateX(-19vw) translateY(22vh) scale(0.55);
  }

  22.2222222222% {
    transform: translateX(-26vw) translateY(-39vh) scale(0.51);
  }

  27.7777777778% {
    transform: translateX(8vw) translateY(37vh) scale(0.97);
  }

  33.3333333333% {
    transform: translateX(47vw) translateY(17vh) scale(0.68);
  }

  38.8888888889% {
    transform: translateX(5vw) translateY(-20vh) scale(0.56);
  }

  44.4444444444% {
    transform: translateX(-21vw) translateY(46vh) scale(0.99);
  }

  50% {
    transform: translateX(-32vw) translateY(43vh) scale(0.71);
  }

  55.5555555556% {
    transform: translateX(34vw) translateY(40vh) scale(0.88);
  }

  61.1111111111% {
    transform: translateX(-39vw) translateY(-21vh) scale(0.36);
  }

  66.6666666667% {
    transform: translateX(-31vw) translateY(3vh) scale(0.42);
  }

  72.2222222222% {
    transform: translateX(-15vw) translateY(11vh) scale(0.94);
  }

  77.7777777778% {
    transform: translateX(-4vw) translateY(-26vh) scale(0.32);
  }

  83.3333333333% {
    transform: translateX(8vw) translateY(24vh) scale(0.79);
  }

  88.8888888889% {
    transform: translateX(-45vw) translateY(-32vh) scale(0.44);
  }

  94.4444444444% {
    transform: translateX(-13vw) translateY(-48vh) scale(0.52);
  }

  100% {
    transform: translateX(42vw) translateY(-30vh) scale(0.49);
  }
}

.firefly:nth-child(6) {
  animation-name: move6;
}

.firefly:nth-child(6)::before {
  animation-duration: 18s;
}

.firefly:nth-child(6)::after {
  animation-duration: 18s, 7559ms;
  animation-delay: 0ms, 3384ms;
}

@keyframes move6 {
  0% {
    transform: translateX(-1vw) translateY(-9vh) scale(0.45);
  }

  4.5454545455% {
    transform: translateX(3vw) translateY(29vh) scale(0.3);
  }

  9.0909090909% {
    transform: translateX(-8vw) translateY(5vh) scale(0.54);
  }

  13.6363636364% {
    transform: translateX(15vw) translateY(-46vh) scale(0.72);
  }

  18.1818181818% {
    transform: translateX(37vw) translateY(-6vh) scale(0.78);
  }

  22.7272727273% {
    transform: translateX(-12vw) translateY(15vh) scale(0.85);
  }

  27.2727272727% {
    transform: translateX(1vw) translateY(-36vh) scale(0.48);
  }

  31.8181818182% {
    transform: translateX(39vw) translateY(-48vh) scale(0.36);
  }

  36.3636363636% {
    transform: translateX(44vw) translateY(50vh) scale(0.63);
  }

  40.9090909091% {
    transform: translateX(-26vw) translateY(-15vh) scale(0.47);
  }

  45.4545454545% {
    transform: translateX(18vw) translateY(42vh) scale(0.44);
  }

  50% {
    transform: translateX(-36vw) translateY(37vh) scale(0.54);
  }

  54.5454545455% {
    transform: translateX(45vw) translateY(-13vh) scale(0.69);
  }

  59.0909090909% {
    transform: translateX(-29vw) translateY(26vh) scale(0.69);
  }

  63.6363636364% {
    transform: translateX(-12vw) translateY(-14vh) scale(0.43);
  }

  68.1818181818% {
    transform: translateX(-32vw) translateY(13vh) scale(0.9);
  }

  72.7272727273% {
    transform: translateX(-10vw) translateY(-42vh) scale(0.41);
  }

  77.2727272727% {
    transform: translateX(-4vw) translateY(25vh) scale(0.6);
  }

  81.8181818182% {
    transform: translateX(-2vw) translateY(25vh) scale(0.49);
  }

  86.3636363636% {
    transform: translateX(17vw) translateY(46vh) scale(0.64);
  }

  90.9090909091% {
    transform: translateX(-18vw) translateY(42vh) scale(0.46);
  }

  95.4545454545% {
    transform: translateX(31vw) translateY(33vh) scale(0.41);
  }

  100% {
    transform: translateX(-16vw) translateY(-47vh) scale(0.31);
  }
}

.firefly:nth-child(7) {
  animation-name: move7;
}

.firefly:nth-child(7)::before {
  animation-duration: 13s;
}

.firefly:nth-child(7)::after {
  animation-duration: 13s, 5719ms;
  animation-delay: 0ms, 3922ms;
}

@keyframes move7 {
  0% {
    transform: translateX(-49vw) translateY(31vh) scale(0.49);
  }

  3.7037037037% {
    transform: translateX(7vw) translateY(-11vh) scale(0.48);
  }

  7.4074074074% {
    transform: translateX(-27vw) translateY(12vh) scale(0.49);
  }

  11.1111111111% {
    transform: translateX(-19vw) translateY(-17vh) scale(0.74);
  }

  14.8148148148% {
    transform: translateX(48vw) translateY(-20vh) scale(0.39);
  }

  18.5185185185% {
    transform: translateX(-33vw) translateY(37vh) scale(0.66);
  }

  22.2222222222% {
    transform: translateX(-10vw) translateY(25vh) scale(0.46);
  }

  25.9259259259% {
    transform: translateX(26vw) translateY(45vh) scale(0.66);
  }

  29.6296296296% {
    transform: translateX(17vw) translateY(28vh) scale(0.3);
  }

  33.3333333333% {
    transform: translateX(20vw) translateY(36vh) scale(0.33);
  }

  37.037037037% {
    transform: translateX(30vw) translateY(3vh) scale(0.5);
  }

  40.7407407407% {
    transform: translateX(-28vw) translateY(32vh) scale(0.5);
  }

  44.4444444444% {
    transform: translateX(43vw) translateY(-23vh) scale(0.85);
  }

  48.1481481481% {
    transform: translateX(10vw) translateY(-38vh) scale(0.61);
  }

  51.8518518519% {
    transform: translateX(35vw) translateY(41vh) scale(0.97);
  }

  55.5555555556% {
    transform: translateX(43vw) translateY(46vh) scale(0.46);
  }

  59.2592592593% {
    transform: translateX(1vw) translateY(11vh) scale(0.49);
  }

  62.962962963% {
    transform: translateX(23vw) translateY(-47vh) scale(0.8);
  }

  66.6666666667% {
    transform: translateX(20vw) translateY(-41vh) scale(0.52);
  }

  70.3703703704% {
    transform: translateX(11vw) translateY(-14vh) scale(0.76);
  }

  74.0740740741% {
    transform: translateX(-14vw) translateY(-41vh) scale(0.96);
  }

  77.7777777778% {
    transform: translateX(18vw) translateY(-1vh) scale(0.66);
  }

  81.4814814815% {
    transform: translateX(-17vw) translateY(8vh) scale(1);
  }

  85.1851851852% {
    transform: translateX(0vw) translateY(-45vh) scale(0.52);
  }

  88.8888888889% {
    transform: translateX(16vw) translateY(18vh) scale(0.29);
  }

  92.5925925926% {
    transform: translateX(23vw) translateY(14vh) scale(0.32);
  }

  96.2962962963% {
    transform: translateX(-31vw) translateY(-32vh) scale(0.58);
  }

  100% {
    transform: translateX(24vw) translateY(-14vh) scale(0.8);
  }
}

.firefly:nth-child(8) {
  animation-name: move8;
}

.firefly:nth-child(8)::before {
  animation-duration: 13s;
}

.firefly:nth-child(8)::after {
  animation-duration: 13s, 10965ms;
  animation-delay: 0ms, 821ms;
}

@keyframes move8 {
  0% {
    transform: translateX(17vw) translateY(29vh) scale(0.45);
  }

  5.2631578947% {
    transform: translateX(41vw) translateY(29vh) scale(0.36);
  }

  10.5263157895% {
    transform: translateX(-28vw) translateY(-9vh) scale(0.49);
  }

  15.7894736842% {
    transform: translateX(-17vw) translateY(-38vh) scale(0.49);
  }

  21.0526315789% {
    transform: translateX(-8vw) translateY(-18vh) scale(0.87);
  }

  26.3157894737% {
    transform: translateX(-24vw) translateY(-23vh) scale(0.76);
  }

  31.5789473684% {
    transform: translateX(2vw) translateY(-8vh) scale(0.48);
  }

  36.8421052632% {
    transform: translateX(-11vw) translateY(-42vh) scale(0.37);
  }

  42.1052631579% {
    transform: translateX(-47vw) translateY(31vh) scale(0.53);
  }

  47.3684210526% {
    transform: translateX(13vw) translateY(2vh) scale(0.29);
  }

  52.6315789474% {
    transform: translateX(8vw) translateY(-13vh) scale(0.31);
  }

  57.8947368421% {
    transform: translateX(-13vw) translateY(-9vh) scale(0.56);
  }

  63.1578947368% {
    transform: translateX(-11vw) translateY(0vh) scale(0.68);
  }

  68.4210526316% {
    transform: translateX(-7vw) translateY(-22vh) scale(0.48);
  }

  73.6842105263% {
    transform: translateX(23vw) translateY(-4vh) scale(0.67);
  }

  78.9473684211% {
    transform: translateX(-7vw) translateY(18vh) scale(0.84);
  }

  84.2105263158% {
    transform: translateX(41vw) translateY(-4vh) scale(0.58);
  }

  89.4736842105% {
    transform: translateX(-37vw) translateY(-30vh) scale(0.44);
  }

  94.7368421053% {
    transform: translateX(39vw) translateY(22vh) scale(0.67);
  }

  100% {
    transform: translateX(41vw) translateY(-10vh) scale(0.45);
  }
}

.firefly:nth-child(9) {
  animation-name: move9;
}

.firefly:nth-child(9)::before {
  animation-duration: 9s;
}

.firefly:nth-child(9)::after {
  animation-duration: 9s, 6913ms;
  animation-delay: 0ms, 3614ms;
}

@keyframes move9 {
  0% {
    transform: translateX(-15vw) translateY(44vh) scale(0.81);
  }

  4.1666666667% {
    transform: translateX(-7vw) translateY(-22vh) scale(0.87);
  }

  8.3333333333% {
    transform: translateX(6vw) translateY(33vh) scale(0.68);
  }

  12.5% {
    transform: translateX(6vw) translateY(1vh) scale(0.81);
  }

  16.6666666667% {
    transform: translateX(-41vw) translateY(-21vh) scale(0.63);
  }

  20.8333333333% {
    transform: translateX(42vw) translateY(38vh) scale(0.3);
  }

  25% {
    transform: translateX(-41vw) translateY(9vh) scale(0.68);
  }

  29.1666666667% {
    transform: translateX(-4vw) translateY(-47vh) scale(0.34);
  }

  33.3333333333% {
    transform: translateX(23vw) translateY(23vh) scale(0.51);
  }

  37.5% {
    transform: translateX(45vw) translateY(-40vh) scale(0.52);
  }

  41.6666666667% {
    transform: translateX(46vw) translateY(-46vh) scale(0.29);
  }

  45.8333333333% {
    transform: translateX(-36vw) translateY(29vh) scale(0.98);
  }

  50% {
    transform: translateX(7vw) translateY(43vh) scale(0.89);
  }

  54.1666666667% {
    transform: translateX(-43vw) translateY(-28vh) scale(1);
  }

  58.3333333333% {
    transform: translateX(21vw) translateY(26vh) scale(0.92);
  }

  62.5% {
    transform: translateX(-39vw) translateY(20vh) scale(0.36);
  }

  66.6666666667% {
    transform: translateX(-37vw) translateY(2vh) scale(0.36);
  }

  70.8333333333% {
    transform: translateX(-18vw) translateY(-22vh) scale(0.42);
  }

  75% {
    transform: translateX(24vw) translateY(-20vh) scale(0.79);
  }

  79.1666666667% {
    transform: translateX(-12vw) translateY(2vh) scale(0.45);
  }

  83.3333333333% {
    transform: translateX(6vw) translateY(20vh) scale(0.96);
  }

  87.5% {
    transform: translateX(-13vw) translateY(-17vh) scale(0.9);
  }

  91.6666666667% {
    transform: translateX(5vw) translateY(-6vh) scale(0.78);
  }

  95.8333333333% {
    transform: translateX(1vw) translateY(-9vh) scale(0.32);
  }

  100% {
    transform: translateX(14vw) translateY(-47vh) scale(0.53);
  }
}

.firefly:nth-child(10) {
  animation-name: move10;
}

.firefly:nth-child(10)::before {
  animation-duration: 12s;
}

.firefly:nth-child(10)::after {
  animation-duration: 12s, 9884ms;
  animation-delay: 0ms, 7785ms;
}

@keyframes move10 {
  0% {
    transform: translateX(14vw) translateY(-47vh) scale(0.4);
  }

  5.2631578947% {
    transform: translateX(49vw) translateY(3vh) scale(0.38);
  }

  10.5263157895% {
    transform: translateX(-40vw) translateY(-1vh) scale(0.88);
  }

  15.7894736842% {
    transform: translateX(-13vw) translateY(17vh) scale(0.61);
  }

  21.0526315789% {
    transform: translateX(-38vw) translateY(31vh) scale(0.62);
  }

  26.3157894737% {
    transform: translateX(47vw) translateY(0vh) scale(0.52);
  }

  31.5789473684% {
    transform: translateX(44vw) translateY(-21vh) scale(0.3);
  }

  36.8421052632% {
    transform: translateX(-5vw) translateY(20vh) scale(0.56);
  }

  42.1052631579% {
    transform: translateX(-6vw) translateY(-30vh) scale(0.44);
  }

  47.3684210526% {
    transform: translateX(43vw) translateY(-47vh) scale(0.7);
  }

  52.6315789474% {
    transform: translateX(-38vw) translateY(44vh) scale(0.84);
  }

  57.8947368421% {
    transform: translateX(45vw) translateY(-24vh) scale(0.8);
  }

  63.1578947368% {
    transform: translateX(-3vw) translateY(22vh) scale(0.35);
  }

  68.4210526316% {
    transform: translateX(-6vw) translateY(29vh) scale(0.7);
  }

  73.6842105263% {
    transform: translateX(-15vw) translateY(-2vh) scale(0.57);
  }

  78.9473684211% {
    transform: translateX(-22vw) translateY(26vh) scale(0.52);
  }

  84.2105263158% {
    transform: translateX(-39vw) translateY(39vh) scale(0.73);
  }

  89.4736842105% {
    transform: translateX(38vw) translateY(8vh) scale(0.64);
  }

  94.7368421053% {
    transform: translateX(18vw) translateY(-36vh) scale(0.35);
  }

  100% {
    transform: translateX(-7vw) translateY(-3vh) scale(0.62);
  }
}

.firefly:nth-child(11) {
  animation-name: move11;
}

.firefly:nth-child(11)::before {
  animation-duration: 11s;
}

.firefly:nth-child(11)::after {
  animation-duration: 11s, 6792ms;
  animation-delay: 0ms, 701ms;
}

@keyframes move11 {
  0% {
    transform: translateX(-12vw) translateY(7vh) scale(0.45);
  }

  4.7619047619% {
    transform: translateX(-17vw) translateY(9vh) scale(0.98);
  }

  9.5238095238% {
    transform: translateX(-37vw) translateY(-13vh) scale(0.43);
  }

  14.2857142857% {
    transform: translateX(12vw) translateY(2vh) scale(0.88);
  }

  19.0476190476% {
    transform: translateX(-2vw) translateY(-40vh) scale(0.64);
  }

  23.8095238095% {
    transform: translateX(23vw) translateY(46vh) scale(0.66);
  }

  28.5714285714% {
    transform: translateX(39vw) translateY(-25vh) scale(0.33);
  }

  33.3333333333% {
    transform: translateX(-12vw) translateY(5vh) scale(0.38);
  }

  38.0952380952% {
    transform: translateX(8vw) translateY(-40vh) scale(0.39);
  }

  42.8571428571% {
    transform: translateX(-39vw) translateY(-31vh) scale(0.47);
  }

  47.619047619% {
    transform: translateX(17vw) translateY(-29vh) scale(0.29);
  }

  52.380952381% {
    transform: translateX(48vw) translateY(9vh) scale(0.41);
  }

  57.1428571429% {
    transform: translateX(32vw) translateY(-18vh) scale(0.83);
  }

  61.9047619048% {
    transform: translateX(-33vw) translateY(20vh) scale(0.48);
  }

  66.6666666667% {
    transform: translateX(-33vw) translateY(21vh) scale(0.51);
  }

  71.4285714286% {
    transform: translateX(-12vw) translateY(-41vh) scale(0.92);
  }

  76.1904761905% {
    transform: translateX(22vw) translateY(-32vh) scale(0.29);
  }

  80.9523809524% {
    transform: translateX(-22vw) translateY(42vh) scale(0.67);
  }

  85.7142857143% {
    transform: translateX(-12vw) translateY(-16vh) scale(0.37);
  }

  90.4761904762% {
    transform: translateX(43vw) translateY(-6vh) scale(0.36);
  }

  95.2380952381% {
    transform: translateX(23vw) translateY(-38vh) scale(0.49);
  }

  100% {
    transform: translateX(-9vw) translateY(19vh) scale(0.51);
  }
}

.firefly:nth-child(12) {
  animation-name: move12;
}

.firefly:nth-child(12)::before {
  animation-duration: 17s;
}

.firefly:nth-child(12)::after {
  animation-duration: 17s, 7438ms;
  animation-delay: 0ms, 5015ms;
}

@keyframes move12 {
  0% {
    transform: translateX(-9vw) translateY(10vh) scale(0.41);
  }

  4% {
    transform: translateX(-12vw) translateY(23vh) scale(0.9);
  }

  8% {
    transform: translateX(-6vw) translateY(-27vh) scale(0.67);
  }

  12% {
    transform: translateX(20vw) translateY(-29vh) scale(0.35);
  }

  16% {
    transform: translateX(-4vw) translateY(-25vh) scale(0.97);
  }

  20% {
    transform: translateX(44vw) translateY(-10vh) scale(0.38);
  }

  24% {
    transform: translateX(15vw) translateY(-43vh) scale(0.92);
  }

  28% {
    transform: translateX(11vw) translateY(-14vh) scale(0.3);
  }

  32% {
    transform: translateX(-7vw) translateY(-46vh) scale(0.74);
  }

  36% {
    transform: translateX(16vw) translateY(4vh) scale(0.27);
  }

  40% {
    transform: translateX(49vw) translateY(16vh) scale(0.39);
  }

  44% {
    transform: translateX(-15vw) translateY(-23vh) scale(0.32);
  }

  48% {
    transform: translateX(11vw) translateY(-15vh) scale(0.36);
  }

  52% {
    transform: translateX(26vw) translateY(-10vh) scale(0.95);
  }

  56% {
    transform: translateX(-4vw) translateY(30vh) scale(0.59);
  }

  60% {
    transform: translateX(6vw) translateY(-44vh) scale(0.94);
  }

  64% {
    transform: translateX(-29vw) translateY(-39vh) scale(0.58);
  }

  68% {
    transform: translateX(10vw) translateY(38vh) scale(0.37);
  }

  72% {
    transform: translateX(-38vw) translateY(-15vh) scale(0.49);
  }

  76% {
    transform: translateX(-8vw) translateY(3vh) scale(0.37);
  }

  80% {
    transform: translateX(-28vw) translateY(-46vh) scale(0.68);
  }

  84% {
    transform: translateX(-37vw) translateY(-3vh) scale(0.69);
  }

  88% {
    transform: translateX(40vw) translateY(32vh) scale(0.42);
  }

  92% {
    transform: translateX(-35vw) translateY(-2vh) scale(0.75);
  }

  96% {
    transform: translateX(45vw) translateY(-46vh) scale(0.87);
  }

  100% {
    transform: translateX(-27vw) translateY(-47vh) scale(0.39);
  }
}

.firefly:nth-child(13) {
  animation-name: move13;
}

.firefly:nth-child(13)::before {
  animation-duration: 9s;
}

.firefly:nth-child(13)::after {
  animation-duration: 9s, 8372ms;
  animation-delay: 0ms, 3722ms;
}

@keyframes move13 {
  0% {
    transform: translateX(-31vw) translateY(43vh) scale(0.37);
  }

  5% {
    transform: translateX(-1vw) translateY(48vh) scale(0.26);
  }

  10% {
    transform: translateX(21vw) translateY(-6vh) scale(0.4);
  }

  15% {
    transform: translateX(3vw) translateY(41vh) scale(0.38);
  }

  20% {
    transform: translateX(0vw) translateY(22vh) scale(0.47);
  }

  25% {
    transform: translateX(-31vw) translateY(-30vh) scale(0.4);
  }

  30% {
    transform: translateX(20vw) translateY(-36vh) scale(0.44);
  }

  35% {
    transform: translateX(-14vw) translateY(20vh) scale(0.96);
  }

  40% {
    transform: translateX(3vw) translateY(0vh) scale(0.26);
  }

  45% {
    transform: translateX(20vw) translateY(-27vh) scale(1);
  }

  50% {
    transform: translateX(21vw) translateY(-21vh) scale(0.95);
  }

  55% {
    transform: translateX(24vw) translateY(-20vh) scale(0.35);
  }

  60% {
    transform: translateX(44vw) translateY(-49vh) scale(0.63);
  }

  65% {
    transform: translateX(41vw) translateY(26vh) scale(0.94);
  }

  70% {
    transform: translateX(-23vw) translateY(-35vh) scale(0.91);
  }

  75% {
    transform: translateX(9vw) translateY(-17vh) scale(0.87);
  }

  80% {
    transform: translateX(-46vw) translateY(23vh) scale(0.55);
  }

  85% {
    transform: translateX(-46vw) translateY(-14vh) scale(0.75);
  }

  90% {
    transform: translateX(-29vw) translateY(46vh) scale(0.44);
  }

  95% {
    transform: translateX(0vw) translateY(50vh) scale(0.87);
  }

  100% {
    transform: translateX(9vw) translateY(34vh) scale(0.63);
  }
}

.firefly:nth-child(14) {
  animation-name: move14;
}

.firefly:nth-child(14)::before {
  animation-duration: 16s;
}

.firefly:nth-child(14)::after {
  animation-duration: 16s, 6872ms;
  animation-delay: 0ms, 3578ms;
}

@keyframes move14 {
  0% {
    transform: translateX(-9vw) translateY(30vh) scale(0.47);
  }

  4.7619047619% {
    transform: translateX(31vw) translateY(40vh) scale(0.73);
  }

  9.5238095238% {
    transform: translateX(49vw) translateY(-10vh) scale(0.5);
  }

  14.2857142857% {
    transform: translateX(-31vw) translateY(-15vh) scale(0.33);
  }

  19.0476190476% {
    transform: translateX(30vw) translateY(-42vh) scale(0.42);
  }

  23.8095238095% {
    transform: translateX(-21vw) translateY(-10vh) scale(0.41);
  }

  28.5714285714% {
    transform: translateX(-3vw) translateY(27vh) scale(0.7);
  }

  33.3333333333% {
    transform: translateX(29vw) translateY(23vh) scale(0.86);
  }

  38.0952380952% {
    transform: translateX(-1vw) translateY(31vh) scale(0.54);
  }

  42.8571428571% {
    transform: translateX(33vw) translateY(-4vh) scale(0.58);
  }

  47.619047619% {
    transform: translateX(-18vw) translateY(-28vh) scale(0.8);
  }

  52.380952381% {
    transform: translateX(-4vw) translateY(44vh) scale(0.73);
  }

  57.1428571429% {
    transform: translateX(14vw) translateY(25vh) scale(0.71);
  }

  61.9047619048% {
    transform: translateX(6vw) translateY(-1vh) scale(0.67);
  }

  66.6666666667% {
    transform: translateX(46vw) translateY(22vh) scale(0.73);
  }

  71.4285714286% {
    transform: translateX(37vw) translateY(-25vh) scale(0.44);
  }

  76.1904761905% {
    transform: translateX(-12vw) translateY(21vh) scale(0.86);
  }

  80.9523809524% {
    transform: translateX(26vw) translateY(2vh) scale(0.74);
  }

  85.7142857143% {
    transform: translateX(-11vw) translateY(-33vh) scale(0.83);
  }

  90.4761904762% {
    transform: translateX(24vw) translateY(-5vh) scale(0.96);
  }

  95.2380952381% {
    transform: translateX(-19vw) translateY(-41vh) scale(0.39);
  }

  100% {
    transform: translateX(-42vw) translateY(21vh) scale(0.83);
  }
}

.firefly:nth-child(15) {
  animation-name: move15;
}

.firefly:nth-child(15)::before {
  animation-duration: 17s;
}

.firefly:nth-child(15)::after {
  animation-duration: 17s, 10462ms;
  animation-delay: 0ms, 7414ms;
}

@keyframes move15 {
  0% {
    transform: translateX(-9vw) translateY(-4vh) scale(0.47);
  }

  5.5555555556% {
    transform: translateX(34vw) translateY(-13vh) scale(0.75);
  }

  11.1111111111% {
    transform: translateX(6vw) translateY(-1vh) scale(0.78);
  }

  16.6666666667% {
    transform: translateX(-28vw) translateY(-47vh) scale(0.66);
  }

  22.2222222222% {
    transform: translateX(18vw) translateY(28vh) scale(0.95);
  }

  27.7777777778% {
    transform: translateX(-8vw) translateY(14vh) scale(0.49);
  }

  33.3333333333% {
    transform: translateX(26vw) translateY(36vh) scale(0.67);
  }

  38.8888888889% {
    transform: translateX(46vw) translateY(41vh) scale(0.49);
  }

  44.4444444444% {
    transform: translateX(34vw) translateY(17vh) scale(0.86);
  }

  50% {
    transform: translateX(-35vw) translateY(-18vh) scale(0.5);
  }

  55.5555555556% {
    transform: translateX(-2vw) translateY(-46vh) scale(0.78);
  }

  61.1111111111% {
    transform: translateX(48vw) translateY(-10vh) scale(0.73);
  }

  66.6666666667% {
    transform: translateX(9vw) translateY(27vh) scale(0.45);
  }

  72.2222222222% {
    transform: translateX(-32vw) translateY(-5vh) scale(0.87);
  }

  77.7777777778% {
    transform: translateX(-8vw) translateY(31vh) scale(0.43);
  }

  83.3333333333% {
    transform: translateX(39vw) translateY(50vh) scale(0.41);
  }

  88.8888888889% {
    transform: translateX(-1vw) translateY(25vh) scale(0.29);
  }

  94.4444444444% {
    transform: translateX(47vw) translateY(-41vh) scale(0.87);
  }

  100% {
    transform: translateX(-37vw) translateY(40vh) scale(0.91);
  }
}

@keyframes drift {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes flash {

  0% {
    opacity: 0;
    box-shadow: 0 0 0vw 0vw yellow;
  }

  100% {
    opacity: 1;
    box-shadow: 0 0 2vw 0.4vw yellow;
  }
}