body{
    background:blue; 
    color : black;
    padding: 0px;
    margin: 0px;
    
}

#toolbar{
    background-color:transparent;
    
    position: sticky;
    left:0px;
     top:0px;
    display: flex; 
    justify-content: space-between;
    border-top: 0px;
    padding: 0px ;
}
.tb{
    background-color: black;
    color:white;
    border: 100px;
    border-color: aqua;
    padding: 10px ;
    margin: 3px;
    transition: all 100ms;
   
}






@media screen and (min-width:550px){



.right_section{
    background-color:transparent;
    position: relative;
    left:0px;
     top:0px;
    display: flex; 
    justify-content: flex-end;
    border-top: 0px;
    padding: 0px ;
}
}



.bckimg{
/*
  
    background: linear-gradient(to bottom right , blue , red); 
*/
    background-image: url(index_img.jpg);
    background-size:cover;
    background-attachment: fixed;
    width: 100%;
    
    position: relative;
    height: 780px;
    border-top: 0px;
    padding: 0px ;
    margin: 0px;
}


.content{
    
    padding: 10px;
    background-color: black;
    color : white;
    
    height: 300px;
    width: 200px;
    border: 10++++px solid black;
    
    margin: 20px auto;
    
   
}
  
    #content_cont{
   background-color:white;
    position: relative;
    left:0px;
     top:10px;
    height:auto px;
    border-top: 0px;
    padding: 0px ;
    display:flex;
   flex-wrap: wrap;
align-content: center;
    
    
   
}

#footer{
    background-color:black;
    position: relative;
    left:0px;
     top:10px;
    border-top: 0px;
    padding: 0px ;
    padding: 0px ;
}

.projimg{
    height: auto;
    width: 100%;
}

.vpbut {
    position: relative;
    width:100%;
    text-decoration-color: aqua
}
.menuebtn{
    visibility: hidden;
}




.navSearch {
    background-color: #fffff;
    border : 0px solid black;
    border-radius: 30px;
    width: 0px;
    height: 27px;
    transition-duration: all 500ms;
    padding: 0px;
    
}
.SePa  {
    width: 0px;
    padding: 0px;
    height: 40px;
    transition-duration: all 500ms;
    border:0px;
}







/*for small screen size */ 



@media screen and (max-width:549px){
.right_section{
    background-color:transparent;
    visibility: hidden;
    position: relative;
    left:0px;
     top:0px;
    display: flex; 
    flex-direction: column;
    border-top: 0px;
    padding: 0px ;
    
}
  #toolbar{
    background-color:transparent;
    
    position: fixed;
    left:0px;
     top:0px;
    display: flex; 
      flex-direction: column;
    justify-content:flex-start;
    border-top: 0px;
    padding:0px ;
      width: 100%;
}  
 
   
  .tb{
     
    background-color: black;
  color: white;
      
    border-color: aqua;
    padding: 10px;
    margin: 0px;
      width: 100%;
    transition: all 100ms;
      display: flex;
      justify-content: center;
      
   
}  
    
    .navbtn {
         background-color: aqua;
        color: red;
        position: fixed;
        left :0px;
     
        
        
    }   
    
    
 

.navSearch {
    background-color: #fffff;
    border : 0px solid black;
    border-radius: 30px;
    width: 70%;
    height: 0px;
    padding: 10px;
    
}
.SePa  {
    width: 100%;
    padding: 0px;
height:0px;

    border:0px;
}

    
    
    

    
    
    
    
    
    
    
    
    
}






